{% extends 'base.html.twig' %}


{% block body %}
<noscript id="noscript" class="center-flex">
    <h2 class="error">Attention!</h2>
    <p>Ce site a été conçu pour fonctionner avec Javascript, qui semble désactivé. Nous avons <a href="">un guide</a> pour vous aider à le réactiver.<br/>
        Si Javascript est activé &amp; que vous voyez ce message, <a href="">contactez nous</a>.</p>
    <p><em><a href="">&Agrave; quoi sert Javascript sur <span class="logo"><span>Calcula</span><span>Pr&ecirc;t</span></span> ?</a></em></p>
</noscript>
{% block content %}{% endblock %}
{% endblock %}